

h1{
    background-image: url("https://www.nps.gov/common/uploads/structured_data/2595FA12-DF7A-1B6C-55D8F41ABCA2E011.jpg"); 
    text-align: center;
}

#home{
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#parks-container{
    text-align: center;
}

#saved-parks-container{
    text-align: center;
}

#park{
    border: solid;
    background-color: rgba(128, 128, 128, 0.255); 
}

#saved-park{
    border: solid;
    background-color: rgba(154, 200, 249, 0.988);
}

#navbar{
    text-align: center;
}

#error{
    color: red;
    padding-block: 100px;
}